.episodes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;

  .filters {
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: 500px;
    flex-wrap: wrap;
    .filter-wrapper {
      display: flex;
      gap: 12px;

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
    }
  }
  .episodes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .card-box-wrapper {
      flex: 1;
    }
    .image-thumbnail {
      width: 100%;
    }
  }
}
